@import url("https://ui.dev/font");

:root {
  --bizblue: #2665c4;
  --black: #000;
  --white: #fff;
  --red: #f32827;
  --purple: #a42ce9;
  --blue: #2d7fea;
  --yellow: #f4f73e;
  --pink: #eb30c1;
  --gold: #ffd500;
  --aqua: #2febd2;
  --gray: #282c35;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  font-family: proxima-nova, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100vh;
  /* background: var(--black); */
  color: var(--bizblue);
}

.bg-img {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  opacity: 0.25;
}

#container {
  height: 100vh;
  color: var(--bizblue)
}

#scroll-container {
  font-size: 18px;
  height: 90vh;
  overflow-y: scroll;

}

#main {
  margin: 0 auto;
  display: flex;
  height: 80vh;
  background-color: var(--bizblue);
  flex-direction: column;
  justify-content: flex-start;
}

#contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  padding: 15px;
  background-color: var(--bizblue);
  color: var(--white)
}

a {
  text-decoration: none;
  font-weight: 600;
}

a:visited {
  color: var(--bizblue);
}

li {
  list-style-type: none;
}

@media only screen and (min-width: 501px) {
  #nav {
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 10px;
    width: 100vw;
    height: 6vh;
    margin: 0 auto;
    font-size: 25px;
  }

  #menu,
  #nav-mobile {
    display: none;
  }

  .nav a {
    font-weight: 900;
    font-size: 25px;
    text-decoration: none;
  }

  #header {
    font-size: 25px;
    margin: 12px;
    text-align: left;
  }

  .heading-center {
    margin: 50px 0px 50px 0px;
    text-align: center;
  }

  .home-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

}

@media only screen and (max-width: 500px) {
  #nav-mobile {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-left: 0px;
    position: fixed;
    bottom: 50px;
    width: 100vw;
    height: 25%;
    cursor: pointer;
  }

  #menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    position: absolute;
    cursor: pointer;
    bottom: 10px;
  }

  #nav {
    display: none;
  }

  .nav-item {
    display: flex;
    justify-content: center;
    border: 1px solid var(--bizblue);
    width: 99vw;
    padding: 5px;
    height: auto;
  }

  #header {
    font-size: 15px;
    margin: 12px;
    text-align: left;
  }

  .heading-center {
    text-align: center;
  }

}

.loading {
  text-align: center;
  animation: spin 2s infinite linear;
  font-size: 40px;
  display: block;
  margin: 20px auto;
  font-style: normal;
}